Source: piaware-configurator
Section: unknown
Priority: optional
Maintainer:  FlightAware Developers <adsb-devs@flightaware.com>
Build-Depends: debhelper (>= 11), python3-dev, dh-python, python3-all, python3-setuptools
Standards-Version: 4.1.3
X-Python3-Version: >= 3.7

Package: piaware-wifi-scan
Architecture: all
Description: Helper script to do periodic scan of available wifi networks

Package: piaware-configurator
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, piaware-wifi-scan (= ${binary:Version}), python3-flask, gunicorn3, python3-tohil, python3-eventlet, python3-flask-socketio, python3-flask-cors
Description: Python 3 Flask application to configure piaware settings
 over HTTP
