[Unit]
Description=Flask application to configure piaware settings run with Gunicorn
After=network.target

[Service]
User=piaware-configurator
Group=www-data
WorkingDirectory=/var/www/piaware_configurator/
ExecStart=/usr/bin/gunicorn3 -k eventlet -w 1 --config /etc/piaware-configurator/piaware-configurator.conf.py wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
