[Unit]
Description=Periodic scan for available wifi networks
After=network.target
Requires=network.target

[Service]
User=pi
Type=simple
RuntimeDirectory=wifi-scan
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/wifi-scan
Restart=always
RestartSec=5s

[Install]
WantedBy=network.target
